img {
    width: 140px;
}
#myIcon{
    border-radius: 50%;
}
a{
    text-decoration: none;
}

.absolute_tes {
    width: 90px;
    position:  absolute;        /* 要素の配置方法を指定 */
    padding:  20px;             /* 余白指定 */
    left:  650px;                /* 左からの位置指定 */
    top: 90px;                  /* 上からの位置指定 */
}
.ImgPos2{
    width: 90px;
    position:  absolute;        /* 要素の配置方法を指定 */
    padding:  20px;             /* 余白指定 */
    left:  750px;                /* 左からの位置指定 */
    top: 90px;                  /* 上からの位置指定 */
}
.ImgPos3{
    width: 90px;
    height:40;
    position:  absolute;        /* 要素の配置方法を指定 */
    padding:  20px;             /* 余白指定 */
    left:  850px;                /* 左からの位置指定 */
    top: 90px;                  /* 上からの位置指定 */
    height: 42.45; 
    border-radius: 15%;
}

/*メニュー*/
ul {
    width: 500px;
	list-style-type: none;
    margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #1b2538;
}
li {
    text-align: center;
	float: left;
    border-right: 1px solid #bbbbbb;
}
li:last-child {
	border-right: none;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: #a9bce2;
}
.active {
	background-color:orange;
}

.border02{
    color: #fff;
    text-shadow: 1px 1px 1px #ff9800, -1px 1px 1px #ff9800, 1px -1px 1px #ff9800, -1px -1px 1px #ff9800, 1px 1px 1px #ff9800, -1px 1px 1px #ff9800, 1px -1px 1px #ff9800, -1px -1px 1px #ff9800;
}