.screenshotWrapper {
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 450px;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.screenshot {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    padding-right: 5px;
    animation: grow .5s ease;
}

.banner {
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    margin-top: -70px;
    background-repeat: repeat-y;
    background-size: 100%;
    height: 65vh;/* 85 */
    text-align: center;
}

.wrapper {
    width: calc(100vw - 60px);/* calc(100vw - 60px) */
    border-radius: 10px 10px 0 0;
    position: absolute;
    top: 40vh;/* 50 */
    background-color: var(--bg-color);
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#packageTitle {
    width: 100%;
    text-align: center;
    position: absolute;
    top: calc(25vh - 3.5rem);
    color: white;
    font-size: 6rem;
    font-weight: 700;
    text-shadow:
        20px 20px 60px rgb(0,0,0),
        -20px -20px 60px rgb(0,0,0);
}
@media screen and (max-width: 600px) {
    #packageTitle {
        font-size: 4.5rem;
        top: calc(140px - 2.25rem);
    }
    .wrapper {
        /* top: 280px; */
        top: 250px;
    }
}

@keyframes grow {
    0% {
        margin-top: 150px;
        opacity: 0;
        max-width: 0;
        max-height: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
        max-width: 100%;
        max-height: 100%;
    }
}